@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*Allow hover effect only on desktop browsers*/
@media (hover: hover) {
    .gamepad-button:hover {
        background: var(--color-secundario);
        color: var(--color-primario);
    }

    .gamepad-arrow:hover {
        background: var(--color-secundario);
        color: var(--color-primario);
    }
}

:root {
    --color-primario: #17202A; /*black*/
    --color-secundario: gold; /*dark-yellow*/
    --color-terciario: #ED2400; /*red*/
}

html {
    background: var(--color-primario);
}

body {
    background: var(--color-primario);
    font-family: "Press Start 2P", serif /*if font not available*/;
    color: var(--color-secundario); /*font color*/
    border-radius: 10px;
    border: solid 0.30em var(--color-secundario);

    height: 70vh;
    width: 95vw;

    margin: 5% auto;
    padding: 1em;

    display: table;
    text-align: center;
    word-wrap: break-word;
}


/*--------------------------SCREEN-STYLE-------------------------*/
#screen {
    background: var(--color-primario);
    border-radius: 10px;
    border: solid 0.35em var(--color-secundario);

    height: 65vh;
    width: 100%;

    font-weight: bold;
    overflow: hidden; /*avoid scrollbar*/
}
/*---------------------------------------------------------------*/

/*-----------------------GAMEPAD-ARROW-STYLE---------------------*/
.gamepad-arrow {
    background: var(--color-primario);
    color: var(--color-secundario);
    border-style: solid;
    transition-duration: 0.4s;
    border-color: var(--color-secundario);
    text-align: center;
    text-decoration: none;
}

.gamepad-arrow-lpos {
    border-radius: 8px;
    font-size: calc(8px + 1.2vw);
    padding: 0.1em;
    border-width: 0.2em;
}

.gamepad-arrow-vpos {
    border-radius: 5px;
    font-size: calc(8px + 1.5vw);
    padding: 0.3em;
    border-width: 0.18em;
}

#up-arrow-lpos {
    transform-origin: center;
    transform: rotate(270deg);
    margin-bottom: 0.5em;
}

#down-arrow-lpos {
    transform-origin: center;
    transform: rotate(90deg);
    margin-top: 0.5em;
}

#left-arrow-lpos {
    margin-right: 0.5em;
}

#right-arrow-lpos {
    margin-left: 0.5em;
}

#up-arrow-vpos{
    transform-origin: center;
    transform: rotate(270deg);
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

#down-arrow-vpos{
    transform-origin: center;
    transform: rotate(90deg);
    margin-top: 0.7em;
}

#left-arrow-vpos {
    margin-right: 0.5em;
}

#right-arrow-vpos {
    margin-left: 0.5em;
}
/*---------------------------------------------------------------*/

/*-----------------------GAMEPAD-BUTTON-STYLE--------------------*/
.gamepad-button {
    background: var(--color-primario);
    color: var(--color-secundario);
    border-style: solid;
    border-color: var(--color-secundario);
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
}

.gamepad-button-lpos {
    border-radius: 8px;
    border-width: 0.15em;
    padding: 0.1em;
    font-size: 3vw;
}

.gamepad-button-vpos {
    border-radius: 5px;
    border-width: 0.15em;
    padding: 0.2em;
    font-size: calc(10px + 2vw);
}
/*---------------------------------------------------------------*/
